


.jumbotron-about {
    background-image: url('imgs/jbpattern.png');
    background-attachment:fixed;
    background-size: 100% 100%;
    min-height:315px;
    background-repeat: no-repeat;
}


.jumbotron-index {
    background-image: url('imgs/jbpattern.png');
    background-attachment:fixed;
    background-size: 100% 100%;
    min-height:315px;
    background-repeat: no-repeat;
}

