.body {
     background-image: url('imgs/backgroundtest.jpg');
}


/*.jumbotron {
    background-image: url('imgs/backgroundtest.jpg');
    color: red;
    background-attachment: fixed;
    min-height: 400px;
    margin-bottom: 0px;
}*/
