body {
    font-family:Gentium Book Basic;
}

.heading {
    color:white;
    font-family:Gentium Book Basic;
}

.lblWelcome {
    color:white;
    font-family:'Gentium Book Basic';
    font-size:large;
}